.resultButton {
	background: #2e6e17;
	border-radius: 19.5px;
	outline: none;
	border: none;
	height: 48px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	cursor: pointer;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
}
.welcomePg {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
	color: white;
	padding: 2rem 0;
}
.remplirText {
	font-family: 'Decohead';
	font-style: normal;
	font-weight: 400;
	font-size: 2.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
/*Welcome component styleSheet*/
.participateButton {
	background: #2e6e17;
	border-radius: 19.5px;
	outline: none;
	border: none;
	height: 48px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	cursor: pointer;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	margin-bottom: 15rem;
}
/*Form component styleSheet*/
.instaButton {
	width: 162px;
	height: 32px;
	display: flex;
	align-items: stretch;
	justify-content: center;
	background: white;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 0.6rem;
}
.instaLink {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	cursor: pointer;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	color: #d41b13;
}
.reglement {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.error {
	color: rgb(255, 255, 255);
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 0.8rem;
	padding-left: 0.2rem;
	display: flex;
	align-items: center;
}
.textField,
.textField:focus {
	width: 100%;
	height: 42px;
	font-family: Poppins;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	background-color: rgb(234, 234, 234);
	outline: none;
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 10px 10px 10px 15px;
	margin: 0.5rem 0;
}
@media screen and (max-width: 500px) {
	.welcomeTitle {
		font-size: 2rem;
	}
	.welcomePg {
		font-size: 0.8rem;
	}
	.card {
		height: 70px;
	}
	.participateButton {
		margin-bottom: 6rem;
	}
}
@media screen and (max-width: 600px) {
	.spinnerContainer {
		transform: scale(0.6);
	}
}
